<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SKCardAnimation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>03C843F61F26E08300EE434C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03C8440F1F26E08E00EE434C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03C8441A1F26E09B00EE434C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
